<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Book List Page</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="list-page">
    <h1>Book List Page</h1>
    <table>
      {{#books}}
      <tr>
        <td>{{ Class_Id }}</td>
        <td>{{ Subject_Id }}</td>
        <td>{{ Teacher_Id }}</td>
      </tr>
      {{/books}}
    </table>
  </body>
</html>
